<%= link_to @conversation, data: { turbo: false } do %>
<div class='border h-32 md:h-fit shadow-lg rounded-lg flex flex-row md:flex-col gap-2 items-center md:items-start'>
  <div class='bg-gray-800 h-full md:h-4 w-4 md:w-full rounded-l-lg md:rounded-bl-none md:rounded-t-lg'></div>
  <div class='p-4 flex flex-row flex-col gap-2 items-start'>
    <h2 class='font-bold text-lg md:w-full '>
      <%= @conversation.title %>
    </h2>
    <div class='flex gap-4 items-center'>
        <span class='bg-gray-800 p-1 px-3 text-white rounded'> <b>★</b> <%= @conversation.moderator_username %></span>
        <% @conversation.users.each do |user| %>
          <span class='bg-gray-200 p-1 px-3 rounded'><%= user.username %></span>
        <% end %>
    </div>
  </div>
</div>
<% end %>