<%= link_to @conversation, data: { turbo: false } do %>
<div class='border shadow-lg rounded-lg p-4 flex flex-row md:flex-col gap-2 items-center md:items-start'>
  <h2 class='font-bold text-lg md:w-full md:border-b md:py-2 md:my-2'>
    <%= @conversation.title %>
  </h2>
  <div class='text-xs flex flex-row md:flex-col gap-2'>
      <span><b>Mod:</b> <%= @conversation.moderator_name %></span>
      <%= @conversation.participant_list %>
  </div>
</div>
<% end %>